electron_mirror=https://npmmirror.com/mirrors/electron/
electron-builder-binaries_mirror=https://registry.npmmirror.com/-/binary/electron-builder-binaries/
electron_builder_binaries_mirror=https://registry.npmmirror.com/-/binary/electron-builder-binaries/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
electron-builder-binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
